* {
    margin: 0;
    padding: 0;
}

body {
    --background-colour: #012a36;
    --primary-text-colour: #F8E9F1;
    --link-colour: #d295bf;
    --border-colour: #e6bccd;

    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--background-colour);
    color: var(--primary-text-colour);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 
               "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.container {
    width: 65%;
}

/* Nav bar */
nav {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: center;
    padding: 1em;
}

.home {
    margin-right: auto;
    font-size: 2rem;
}

header {
    border-bottom: var(--border-colour) 2px dashed;
}

button {
    background-color: var(--background-colour);
    color: var(--link-colour);
    border: none;
    font-weight: 600;
}

button:hover {
    color: var(--border-colour);
    cursor: pointer;
}

.tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.tabs button {
    font-size: 1.2rem;
}

/* Contacts */
.contacts,
.about-container {
    padding: 1em;
    color: var(--primary-text-colour);
    font-size: 1.1rem;
}

.contacts ul {
    padding-top: 1em;
    list-style: none;
    color: var(--link-colour);
}

.contacts li {
    padding-bottom: 0.5em;
}

a, a:visited {
    display: flex;
    gap: 10px;
    color: var(--link-colour);
    text-decoration: none;
}

div svg {
    width: 1.4rem;
    height: 1.4rem;
    fill: var(--link-colour);
}

/* About Me */
.inner-container {
    padding-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.likes ul li,
.currently ul li {
    margin-left: 30px;
    margin-bottom: 0.25em;
}

ul {
    padding-top: 0.5em;
}